table, td, th {
    border: 1px solid black;
    
  }
  
  table {
    border-collapse: collapse;
    border: 1px solid blueviolet;
    width: 100%;
  }
  
  th {
    background-color:rgb(99, 95, 102);
   
    height: 50px;
  }
  button{
    height: 50px;
    width: 100px;
    background-color: rgb(143, 69, 69);
    margin: 5px;
    
}